@media only screen and (min-width: 320px) {
    #box-content>section:nth-child(1)>h2 {
        font-size: 20px;
    }
    #monthlybox {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }
    #annualybox {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }
    #box-button {
        transform: scale(0.8);
    }
    #boxbug>h3 {
        font-size: 15px;
    }
    .h2size {
        font-size: 15px;
    }
    #box-content {
        margin: 20px !important;
    }
    #boxbug>h2 {
        font-size: 20px;
    }
    #boxbug>h3>span {
        font-size: 28px;
    }
    li {
        font-size: 15px;
    }
    .btn-support {
        font-size: 20px;
    }
    #boxbug {
        padding: 10px 20px 0px 20px;
        width: 216px;
    }
}

@media only screen and (min-width: 375px) {
    #box-content>section:nth-child(1)>h2 {
        font-size: 20px;
    }
    #monthlybox {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }
    #annualybox {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }
    #box-button {
        transform: scale(0.8);
    }
    #boxbug>h3 {
        font-size: 15px;
    }
    .h2size {
        font-size: 15px;
    }
    #box-content {
        margin: 20px !important;
    }
    #boxbug>h2 {
        font-size: 20px;
    }
    #boxbug>h3>span {
        font-size: 28px;
    }
    li {
        font-size: 15px;
    }
    .btn-support {
        font-size: 20px;
    }
    #boxbug {
        padding: 10px 20px 0px 20px;
        width: 260px;
    }
}

@media only screen and (min-width: 568px) {
    #monthlybox {
        flex-direction: column;
        align-items: center;
    }
    #annualybox {
        flex-direction: column;
        align-items: center;
    }
    h3 {
        font-size: 21px;
    }
    .h2size {
        font-size: 20px;
    }
    span {
        font-size: 28px;
    }
    ul {
        font-size: 15px;
    }
    .btn-support {
        font-size: 20px;
    }
    #boxbug {
        padding: 10px 10px 10px 10px;
    }
}

@media only screen and (min-width: 768px) {
    #monthlybox {
        flex-direction: column;
        align-items: center;
    }
    #annualybox {
        flex-direction: column;
        align-items: center;
    }
    .h2size {
        font-size: 20px;
    }
    h3 {
        font-size: 21px;
    }
    span {
        font-size: 28px;
    }
    ul {
        font-size: 15px;
    }
    li {
        font-size: 20px;
    }
    .btn-support {
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #monthlybox {
        padding: 0px 0px 0px 0px;
    }
    #annualybox {
        padding: 0px 0px 0px 0px;
    }
    #boxbug {
        padding: 10px 10px 10px 10px;
    }
    #monthlybox {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #annualybox {
        flex-direction: row;
        justify-content: space-evenly;
    }
    section {
        transform: scale(0.9);
    }
}

@media only screen and (min-width: 1024px) {
    #boxbug {
        padding: 30px 30px 30px 30px;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        transform: scale(0.9)
    }
    .colums-price {
        transform: scale(0.9)
    }
    .box {
        transform: scale(0.8);
    }
    #monthlybox {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #annualybox {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .box {
        width: 350px !important;
    }
}